{% extends "global/Page.html" %}

{% block title %}
    Welcome to LEEPS Online Laboratory!
{% endblock %}

{% block content %}
<p>
    Thank you for participating in this individual decision-making experiment. 
</p>

<!-- <p>
    From now until the end of the experiment, please stay focused on the task at hand, as your payment highly 
    depends on your performance in the experiment. If you have any questions, please send the Zoom hosts a private 
    message; they will answer your question. Please pay careful attention to the instructions as real money is at 
    stake. Please also remember to open the session link with Chrome because other browsers may cause problems. 
</p> -->

<p>
    During the experiment, you will first play {{ Constants.num_rounds }} rounds of a search task and then play two additional one-round tasks.  
    Your total payoff in this game is the sum of payoffs you earn in all tasks.
    At the end of the experiment, your points will be converted to US dollars as your payment at the rate specified in the Zoom call. 
    You are guaranteed an additional show-up fee of $2.00 but can earn considerably more. 
</p>

<p>
    If you finish reading, please press Next to read the instruction of the first task.
</p>
{% next_button %}

{% endblock %}
