{% extends "global/Page.html" %}

{% block styles %}
    <link href="{% static 'search/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Searched List
{% endblock %}

{% block content %}
<p>
    This is <b>round {{player.round_number}}</b>. 
</p>
<p>
    {% if control == False %}
        The two possible outcomes for each item are: {{ value_high }} points and {{ value_low }} points. 
    {% else %}
        The outcome for each item is an integer between {{ value_low }} points and {{ value_high }} points (inclusive, the outcomes are chosen with equal possibilities).
    {% endif %}
</p>
<p>
    The constant search cost is {{ search_cost }} points. 
</p>

<p>
    You can search for the next item by clicking on <b>Search</b> button. 
</p>

<p>
    {% if control == True %}
        Suppose you have searched <b><math>n</math></b> times in this round, and the item you choose to purchase has 
        the outcome of getting <b>X</b> points, then your payoff in this round is 
        <math><b> X points - n &times; {{ search_cost }} points </b></math>. 
    {% else %}
        {% if certainty == True %}
            Suppose you have searched <b><math>n</math></b> times in this round, and the item you choose to purchase has 
            the probability of getting {{ value_high }} points as <math><b>p</b></math>, then your payoff in this round is 
            <math><b> {{ value_high }} points &times; p + {{ value_low }} points &times; (1 - p) - n &times; {{ search_cost }} points </b></math>. 
        {% else %}
            Suppose that you have searched <math>n</math> times in this round, 
            then your payoff in this round is either 
            <ul>
                <li>
                    <math><b> {{ value_high }} points - n &times; {{ search_cost }} points </b></math> 
                </li>
                or 
                <li>
                    <math><b> {{ value_low }} points - n &times; {{ search_cost }} points </b></math>. 
                </li>
            </ul>
        {% endif %}
    {% endif %}
</p>

{% if control == False %}
    <div class="wrapper">
    <div class="card">
    <table id='history' class='table'>
        <thead>
            <tr class="header">
                <th class="search_no"> Search No. </th>
                <th class="probability"> Probability of Getting {{ value_high }} points</th>
                <th class="probability"> Probability of Getting {{ value_low }} points</th>
            </tr>
        </thead>
    </table>
    </div>
    </div>
{% else %}
    <div class="wrapper">
    <div class="card">
    <table id='history' class='table'>
        <thead>
            <tr class="header">
                <th class="search_no"> Search No. </th>
                <th class="probability"> Points You Will Get </th>
            </tr>
        </thead>
    </table>
    </div>
    </div>
{% endif %}

<p></p>
<button type='button' id='searchbutton'>Search</button>
<p></p>

<h2>
    Purchase Decision
</h2>
<p>
    Please enter the <b>Search No.</b> of the item that you want to purchase in the box below. 
    Then click on <b>Purchase</b> button to submit your decision. 
</p>

<input id='purchaseinput' type='number' min="1" step="1" max="100" >
<button type='button' id='purchasebutton'>Purchase</button>

<script>
    let history = document.getElementById('history')
    let searchbutton = document.getElementById('searchbutton');
    let purchaseinput = document.getElementById('purchaseinput');
    let purchasebutton = document.getElementById('purchasebutton');

    var i = 1;
    var tmp = 0;
    function liveRecv(data) {
        if (data.type === 'game_finished') {
            document.getElementById("form").submit();
        }
        // history.innerHTML += '<table><tbody><tr><td class="search_no">' + i + '</td>' + '<td class="probability">' + data.value + '</td></tr></tbody></table>';
        if (data.control === 'False') {
            tmp = 1 - data.probability; 
            q = tmp.toPrecision(2); 
            history.innerHTML += '<table><tbody><tr><td class="search_no">' + i + '</td>' + '<td class="probability">' + data.probability + '</td>' + '<td class="probability">' + q + '</td></tr></tbody></table>';
        } else {
            history.innerHTML += '<table><tbody><tr><td class="search_no">' + i + '</td>' + '<td class="probability">' + data.value + '</td></tr></tbody></table>';
        }
        i += 1
    }

    searchbutton.onclick = function () {
        console.log('send')
        liveSend({
            'type': 'search'
        })
    }

    purchasebutton.onclick = function () {
        liveSend({
            'type': 'purchase',
            'i': parseInt(purchaseinput.value)
        })
    }

</script>

{% endblock %}
