{% extends "global/Page.html" %}

{% block styles %}
    <link href="{% static 'search/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} Instruction - Search {% endblock %}

{% block content %}

<!-- manual treatment -->
{% if automatic == False %}
    <p>
        In this task, you will play {{ Constants.num_rounds }} rounds of a search game. 
    </p>

    <p>
        In each round, you are going to search for an item to purchase. 
    </p>    
    
    <!-- control treatment with values displayed -->
    {% if control == True %}
        <p>
            The outcome of each item is an integer between <b>{{ value_low }} points</b> and <b>{{ value_high }} points</b> (inclusive, the outcomes are chosen with equal possibilities). 
            
            The items differ in the outcome (i.e. the points you will get).

            After each search, you will know the outcome of the item you just searched. 
        </p>

        <p>
            You start with no item on your searched list. 
            
            You can choose to search for a new item at a constant cost of <b>{{ search_cost }}</b> points per search 
            by clicking on <b>Search</b> button. 
            
            With the current searched list, you can choose to purchase an item by entering the <b>Search No.</b> of the 
            item that you want to purchase in the box and clicking on the <b>Purchase</b> button; or you may keep searching 
            for the next new item at a constant cost of <b>{{ search_cost }}</b> points. 
            
            The round ends when you make a purchase. 
        </p>

        <p>
            Suppose you have searched <b><math>n</math></b> times in this round, and the item you choose to purchase has 
            the outcome of getting <b>X</b> points, then your payoff in this round is 
            <math><b> X points - n &times; {{ search_cost }} points </b></math>. 
        </p>

        {% if value_high == 500 %}
        <p class="borderexample">
            <b>Example</b>
            <br>Suppose you have searched 4 times and the item you choose to purchase shows 
            <b>Points You Will Get</b> as 400 points, 
            then your payoff is calculated as <math> 400 points - 4 &times; {{ search_cost }} points = 380 points</math>. 
        </p>
        {% elif value_high == 200 %}
        <p class="borderexample">
            <b>Example</b>
            <br>Suppose you have searched 4 times and the item you choose to purchase shows 
            <b>Points You Will Get</b> as 180 points,  
            then your payoff is calculated as <math> 180 points - 4 &times; {{ search_cost }} points = 160 points</math>. 
        </p>
        {% endif %}
    {% else %} 
    <!-- treatment group with probabilities displayed -->
        {% if certainty == True %}
        <!-- centainty -->
            <p>
                The outcome of each item is 
                <b><math>{{ value_high }} points &times; p + {{ value_low }} points &times; (1 - p)</math></b>, 
                where <math><b>p</b></math> is the probability of getting {{ value_high }} points. 
                The probability <math><b>p</b></math> is a randomly chosen decimal between 0 and 1 (inclusive) 
                and all the decimals are equally likely to be chosen. 

                The items differ in probability of getting {{ value_high }} points. 
                Although p is defined as a probability, you will receive the outcome of the item (calculated above) you purchase for sure.

                After each search, you will know the <math><b>p</b></math> of the item you just searched. 
            </p>

            <p>
                You start with no item on your searched list. 
                
                You can choose to search for a new item at a constant cost of <b>{{ search_cost }}</b> points per search 
                by clicking on <b>Search</b> button. 
                
                With the current searched list, you can choose to purchase an item by entering the <b>Search No.</b> of the 
                item that you want to purchase in the box and clicking on the <b>Purchase</b> button; or you may keep searching 
                for the next new item at a constant cost of <b>{{ search_cost }}</b> points. 
                
                The round ends when you make a purchase. 
            </p>

            <p>
                Suppose you have searched <b><math>n</math></b> times in this round, and the item you choose to purchase has 
                the probability of getting {{ value_high }} points as <math><b>p</b></math>, then your payoff in this round is 
                <math><b> {{ value_high }} points &times; p + {{ value_low }} points &times; (1 - p) - n &times; {{ search_cost }} points </b></math>. 
            </p>

            {% if value_high == 500 %}
            <p class="borderexample">
                <b>Example</b>
                <br>Suppose you have searched 4 times and the item you choose to purchase has 
                <b>Probability of Getting {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                then your payoff is calculated as <math> {{ value_high }} points &times; 0.75 
                    + {{ value_low }} points &times; (1 - 0.75) - 4 &times; {{ search_cost }} points = 380 points</math>. 
            </p>
            {% elif value_high == 200 %}
            <p class="borderexample">
                <b>Example</b>
                <br>Suppose you have searched 4 times and the item you choose to purchase has 
                probability of Getting {{ value_high }} points as 0.75 (<math>p = 0.75</math>), 
                then your payoff is calculated as <math> {{ value_high }} points &times; 0.75 
                    + {{ value_low }} points &times; (1 - 0.75) - 4 &times; {{ search_cost }} points = 155 points</math>. 
            </p>
            {% endif %}
        {% else %}
        <!-- uncertainty -->
            <p>
                For each item, there are two possible outcomes: <b>{{ value_high }}</b> points and <b>{{ value_low }}</b> points. 
                The items differ in probability of getting {{ value_high }} points, which is defined as <math><b>p</b></math>. 
                The probability <math><b>p</b></math> is a randomly chosen decimal between 0 and 1 (inclusive) 
                and all the decimals are equally likely to be chosen. 
                
                After each search, you will know the <math><b>p</b></math> of the item you just searched. 
            </p>

            <p>
                The outcome you receive from the item you purchase is either 
                <math>{{ value_high }}</math> points OR <math>{{ value_low }}</math> points, depending on the <math><b>p</b></math> of that item.
            </p>

            <p>
                You start with no item on your searched list. 
                
                You can choose to search for a new item at a constant cost of <b>{{ search_cost }}</b> points per search 
                by clicking on <b>Search</b> button. 
                
                With the current searched list, you can choose to purchase an item by entering the <b>Search No.</b> of the 
                item that you want to purchase in the box and clicking on the <b>Purchase</b> button; or you may keep searching 
                for the next new item at a constant cost of <b>{{ search_cost }}</b> points. 
                
                The round ends when you make a purchase. 
            </p>

            <p>
                Suppose that you have searched <math>n</math> times in this round, 
                then your payoff in this round is either 
            </p>
                <ul>
                    <li>
                        <math><b> {{ value_high }} points - n &times; {{ search_cost }} points </b></math> 
                    </li>
                    or 
                    <li>
                        <math><b> {{ value_low }} points - n &times; {{ search_cost }} points </b></math>. 
                    </li>
                </ul>
            {% if value_high == 500 %}
                <ul style = "list-style-type:circle; list-stlye-position: inside; border: 3px solid black;">
                    <b>Example</b>
                    <br>Suppose you have searched 4 times and the item you choose to purchase has <b>Probability of Getting 
                    {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                    then your payoff could be either 
                    <li><math> {{ value_high }} points - 4 &times; {{ search_cost }} points = 480 points</math> with probability 0.75</li>
                    or 
                    <li><math> {{ value_low }} points - 4 &times; {{ search_cost }} points = 80 points</math> with probability 0.25.</li>
                </ul>
            {% elif value_high == 200 %}
                <ul style = "list-style-type:circle; list-stlye-position: inside; border: 3px solid black;">
                    <b>Example</b>
                    <br>Suppose you have searched 4 times and the item you choose to purchase has <b>Probability of Getting 
                    {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                    then your payoff could be either 
                    <li>
                        <math> {{ value_high }} points - 4 &times; {{ search_cost }} points = 180 points</math> with probability 0.75
                    </li>
                    or 
                    <li>
                        <math> {{ value_low }} points - 4 &times; {{ search_cost }} points = 80 points</math> with probability 0.25. 
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
<!-- automatic treatment -->
    <p>
        In the first task, you will play {{ Constants.num_rounds }} rounds of a search game. 
    </p>

    <!-- control group with values displayed -->
    {% if control == True %}

        <p> 
            In each round, you are going to search for an item to purchase. 
        </p>

        <p>
            The outcome of each item is an integer between <b>{{ value_low }} points</b> and <b>{{ value_high }} points</b> 
            (inclusive, the outcomes are chosen with equal possibilities). 
            
            The items differ in the outcome (i.e. the points you will get).

            After each search, you will know the outcome of the item you just searched. 
        </p>

        <p>
            You start with no item on your searched list. 

            You will be asked to enter an integer to indicate the lowest possible outcome of an item you would like to purchase.
            This integer should be chosen between <b>{{ value_low }} points</b> and <b>{{ value_high }} points</b>, and is labelled 
            as your <b>reservation value</b>.

            Then the computer will automatically search for an item. If it gets an item with an outcome lower than your reservation 
            value, the computer will automatically search for next item at a constant cost of <b>{{ search_cost }}</b> points per search. 
            If it gets an item with an item with an outcome greater than or equal to your reservation value, the computer will automatically 
            purchase it for you and the round ends.  

            The round ends when the computer successfully search for an item with the outcome that meets your reservation value. 
        </p>

        <p>
            Suppose you indicated your reservation value as <b>V</b> points, and the computer searched <b><math>n</math></b> times in this round. 
            The first item that met your requirement has the outcome of getting <b>X</b> points (<math>X &ge; V</math>), then your payoff in this round is 
            <math><b> X points  - n &times; {{ search_cost }} points </b></math>. 
        </p>

        {% if value_high == 500 %}
        <p class="borderexample">
            <b>Example</b>
            <br>Suppose you indicated your reservation value as 350 points and the computer searched 4 times.
            The first item that met your requirement shows <b>Points You Will Get</b> as 400 points, 
            then your payoff is calculated as <math> 400 points - 4 &times; {{ search_cost }} points = 380 points</math>. 
        </p>
        {% elif value_high == 200 %}
        <p class="borderexample">
            <b>Example</b>
            <br>Suppose you indicated your reservation value as 150 points and the computer searched 4 times.
            The first item that met your requirement shows <b>Points You Will Get</b> as 180 points,  
            then your payoff is calculated as <math> 180 points - 4 &times; {{ search_cost }} points = 160 points</math>. 
        </p>
        {% endif %}
    {% else %}    
     <!-- centainty  -->
        {% if certainty == True %}
            
            <p>
                In each round, you are going to search for an item to purchase. 
            </p>
            
            <p>
                The outcome of each item is 
                <b><math>{{ value_high }} points &times; p + {{ value_low }} points &times; (1 - p)</math></b>, 
                where <math><b>p</b></math> is the probability of getting {{ value_high }} points. 
                The probability <math><b>p</b></math> is a randomly chosen decimal between 0 and 1 (inclusive) 
                and all the decimals are equally likely to be chosen. 

                The items differ in probability of getting {{ value_high }} points. 
                Although p is defined as a probability, you will receive the outcome of the item (calculated above) you purchase for sure.

                After each search, you will know the <math><b>p</b></math> of the item you just searched. 
            </p>

            <p>
                You start with no item on your searched list. 
    
                You will be asked to enter a decimal to indicate the lowest possible probability of getting {{ value_high }} points for an item 
                you would like to purchase.
                This decimal should be chosen between <b>0</b> and <b>1</b>, and is labelled as your <b>reservation probability</b>.
    
                Then the computer will automatically search for an item.  
                If it gets an item with probability of getting {{ value_high }} points lower than your reservation probability, the 
                computer will automatically search for next item at a constant cost of <b>{{ search_cost }}</b> points per search.
                If it gets an item with probability of getting {{ value_high }} points greater than or equal to your reservation probability, the
                computer will automatically purchase it for you and the round ends. 
    
                The round ends when the computer successfully search for an item with the outcome that meets your reservation probability. 
            </p>

            <p>
                Suppose you indicated your reservation proability as <b>r</b>, and the computer searched <b><math>n</math></b> times in this round.
                The first item that met your requirement has the probability of getting {{ value_high }} points as <math><b>p</b></math> (<math>p &ge; r</math>), 
                then your payoff in this round is 
                <math><b> {{ value_high }} points &times; p + {{ value_low }} points &times; (1 - p) - n &times; {{ search_cost }} points </b></math>. 
            </p>

            {% if value_high == 500 %}
            <p class="borderexample">
                <b>Example</b>
                <br>Suppose you indicated your reservation proability as 0.7, and the computer searched 4 times.
                The item that met your requirement has <b>Probability of Getting {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                then your payoff is calculated as <math> {{ value_high }} points &times; 0.75 + {{ value_low }} points &times; (1 - 0.75) 
                    - 4 &times; {{ search_cost }} points = 380 points</math>. 
            </p>
            {% elif value_high == 200 %}
            <p class="borderexample">
                <b>Example</b>
                <br>Suppose you indicated your reservation proability as 0.7, and the computer searched 4 times.
                The item that met your requirement has <b>probability of Getting {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                then your payoff is calculated as <math> {{ value_high }} points &times; 0.75 + {{ value_low }} points &times; (1 - 0.75) 
                    - 4 &times; {{ search_cost }} points = 155 points</math>. 
            </p>
            {% endif %}
        {% else %}
        <!-- uncertainty -->
            <p>
                In each round, you are going to search for an item to purchase. 
            </p>

            <p>
                For each item, there are two possible outcomes: <b>{{ value_high }}</b> points and <b>{{ value_low }}</b> points. 
                The items differ in probability of getting {{ value_high }} points, which is defined as <math><b>p</b></math>. 
                The probability <math><b>p</b></math> is a randomly chosen decimal between 0 and 1 (inclusive) 
                and all the decimals are equally likely to be chosen. 
                
                After each search, you will know the <math><b>p</b></math> of the item you just searched. 
            </p>

            <p>
                The outcome you receive from the item you purchase is either 
                <math>{{ value_high }}</math> points OR <math>{{ value_low }}</math> points, depending on the <math><b>p</b></math> of that item.

            </p>

            <p>
                You start with no item on your searched list. 
    
                You will be asked to enter a decimal to indicate the lowest possible probability of getting {{ value_high }} points for an item 
                you would like to purchase.
                This decimal should be chosen between <b>0</b> and <b>1</b>, and is labelled as your <b>reservation probability</b>.

                Then the computer will automatically search for an item.  
                If it gets an item with probability of getting {{ value_high }} points lower than your reservation probability, the 
                computer will automatically search for next item at a constant cost of <b>{{ search_cost }}</b> points per search.
                If it gets an item with probability of getting {{ value_high }} points greater than or equal to your reservation probability, the
                computer will automatically purchase it for you and the round ends. 
    
                The round ends when the computer successfully search for an item with the outcome that meets your reservation probability. 
            </p>

            <p>
                Suppose you indicated your reservation proability as <b>r</b>, and the computer searched <b><math>n</math></b> times in this round.
                The first item met your requirement has the probability of getting {{ value_high }} points as <math><b>p</b></math> (<math>p &ge; r</math>), 
                then your payoff in this round is either
            </p>
                <ul>
                    <li>
                        <math><b> {{ value_high }} points - n &times; {{ search_cost }} points </b></math>
                    </li>
                    or 
                    <li>
                        <math><b> {{ value_low }} points - n &times; {{ search_cost }} points </b></math>. 
                    </li>
                </ul>

            {% if value_high == 500 %}
                <ul style = "list-style-type:circle; list-stlye-position: inside; border: 3px solid black;">  
                    <b>Example</b>
                    <br>Suppose you indicated your reservation proability as 0.7, and the computer searched 4 times.
                    The item that met your requirement has 
                    the probability of getting {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                    then your payoff could be either 
                    <li>
                        <math>{{ value_high }} points - 4 &times; {{ search_cost }} points = 480 points</math> with probability 0.75
                    </li>
                    or 
                    <li>
                        <math>{{ value_low }} points - 4 &times; {{ search_cost }} points = 80 points</math> with probability 0.25. 
                    </li>
                </ul>
            {% elif value_high == 200 %}      
                <ul style = "list-style-type:circle; list-stlye-position:inside; border: 3px solid black;">
                    <b>Example</b>
                    <br>Suppose you indicated your reservation proability as 0.7, and the computer searched 4 times.
                    The item that met your requirement has 
                    the probability of getting {{ value_high }} points</b> as 0.75 (<math>p = 0.75</math>), 
                    then your payoff could be either 
                    <li>
                        <math>{{ value_high }} points - 4 &times; {{ search_cost }} points = 180 points</math> with probability 0.75
                    </li>
                    or 
                    <li>
                        <math>{{ value_low }} points - 4 &times; {{ search_cost }} points = 80 points</math> with probability 0.25. 
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}

{% endif %}
<p>
    Out of {{ Constants.num_rounds }} rounds, rounds <b>1 - {{ Constants.prac_rounds }}</b> are practice rounds. 
    Your final payoff from this task is the payoff of one randomly chosen round from the rest of rounds. 
</p>

<p>
    Please raise your hand in the Zoom call if you finish reading the instruction and are ready to play the game. 
</p>

<!-- <p>
    Please click on <b>Next</b> button to start your search task. 
</p>

{% next_button %} -->

{% endblock %}
